
jax==0.4.28
jaxlib==0.4.28
optax==0.2.5
jupyterlab==4.0.13
notebook==6.5.4
pytest==8.2.1
matplotlib
seaborn==0.13.2
ruff==0.9.1
black==24.3.0
scipy
numpy
pre-commit




# For Flatiron GPU version, install jaxlib from: https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
